.start-menu {
    position: relative;
    text-align: center;
    min-width: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-menu-button {
    font-size: 200%;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}