
:root {
    --text-color: rgb(255, 211, 6);
    --input-background-color: rgba(31, 112, 10, 0.79);
    --button-background-color: rgba(12, 63, 9, 0.85);
    --button-hover-text-color: rgb(243, 3, 11);
    --button-hover-background-color: rgba(72, 89, 8, 0.85);
}

button {
    color: var(--text-color);
    background: var(--button-background-color);
    font-weight: bold;
    border-radius: 0.4em;
    text-transform: uppercase;
}

button:hover {
    color: var(--button-hover-text-color);
    background: var(--button-hover-background-color);
}

input {
    color: var(--text-color);
    font-weight: bold;
    border-radius: 0.4em;
    background: var(--input-background-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 800px;
    margin: 0;
    background: url(../img/court-Background.png) center center no-repeat fixed;
    background-size: 100% 100%;
    padding: 50px 50px 50px 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 10%;
    margin-bottom: 10%;
}

header, footer {
    flex-shrink: 0;
}

header {
    text-align: center;
}

.head-nav-button {
    font-size: 20px;
    width: 300px;
    height: 30px;
}

footer {
    color: white;
    width: 700px;
}

a {
    color: var(--text-color);
}

.start-menu-button {
    font-size: 200%;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
}


