
.ended-matches-div {
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 540px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.7em;
    color: var(--text-color);
    font-weight: bold;
    padding: 30px 30px 30px 30px;
}

.header-table-div {
    display: flex;
    flex-direction: row;
    height: 30px;
    text-transform: uppercase;
    justify-content: space-around;
}

.table-body-div {
    min-height: 240px;
}

.matches-table {
    border-collapse: collapse;
}

.matches-table td {
    padding: 5px;
    text-align: center;
    color: var(--text-color);
}

.delete-button {
    color: rgba(255, 0, 0, 0.47);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 100%;
}

.delete-button:hover {
    color: red;
}

.page-search-div {
    display: flex;
    flex-direction: row;
    height: 30px;
    text-align: center;
    margin: 30px 25px 0 25px;
}

.search-field-form {
    display: flex;
    flex-direction: row;
    width: 350px;
}

.page-search-cell {
    text-align: center;
}

.input-field {
    width: 300px;
    text-transform: none;
}

.page-turner-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80px;
    margin-left: 50px;
}