
.match-special-status-div {
    min-height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    font-size: 250%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.scoreboard-div {
    display: flex;
    flex-direction: row;
    min-height: 150px;
}

.player-scoreboard-div {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 400px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.7em;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
}

#first-player-scoreboard {
    margin-right: 40px;
}

#second-player-scoreboard {
    margin-left: 40px;
}

.player-score-cell-div {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0.9em;
    width: 58px;
    height: 100px;
    padding: 1px;
    margin: 25px 10px 25px 10px;
}

.player-name-div {
    text-align: center;
    width: 40%;
    height: 90%;
    font-size: 110%;
    margin: 10px 10px 10px 10px;
}

.plus-point-button-div {
    min-width: 150px;
}

.notice-advantage-div {
}