
.new-match-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10%;
    height: 170px;
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.7em;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-field-div {
    width: 50%;
    text-align: center;
}

.input-field {
    text-transform: none;
}

.input-fields-div {
    display: flex;
    flex-direction: row;
}

.start-button {
    font-size: 150%;
}

#errorMsg {
    margin-top: 15px;
    height: 20px;
    margin-bottom: 15px;
    font-size: 90%;
    text-align: center;
    color: red;
}
